.App {
  text-align: center;
}

.orange {
  color: orange;
}

.profile {
  position: relative;
  width: 300px;
  text-align: center;
  padding: 1rem;
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 8px 11px 5px -4px rgba(0,0,0,0.75);
  -webkit-box-shadow: 8px 11px 5px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 8px 11px 5px -4px rgba(0,0,0,0.75);
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.avatar {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
}

.new {
  position: absolute;
  left: 70%;
  top: 10%;
  background-color: aquamarine;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
}
