.container {
    width: 100vw;
    height: 100vh;
    background-color: beige;
}

.pointer {
    position: absolute;
    background-color: crimson;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    left: -15px;
    top: -15px;
}